# 明示的に追跡から外す
attendance.db

# SQLite（.db）ファイル全般を無視
*.db

# ただし、日付付きバックアップファイルは除外して追跡させる
!attendance_*.db

# Pythonキャッシュ
__pycache__/
*.pyc

# Flask インスタンス構成
instance/

# 環境変数ファイル
.env

# SSL証明書（念のため）
*.pem
*.cnf