{% extends "bootstrap/base.html" %}
{% block title %}管理{% endblock %}
{% block content %}
<div class="container">
  <h2>ユーザー一覧　<a href="{{ url_for('logout') }}" class="btn btn-primary mb-3">ログアウト</a></h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ユーザー名</th>
        <th>作成日時</th>
        <th>プライベート</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
      <tr>
        <td>{{ user.username }}</td>
        <td>{{ user.created_at }}</td>
        <td>{% if user.is_private %}<span class="badge badge-warning">はい</span>{% else %}いいえ{% endif %}</td>
        <td><a href="{{ url_for('admin_user_records', user_id=user.id) }}" class="btn btn-sm btn-info">記録を見る</a></td>
        <td>
          <form action="{{ url_for('delete_user', user_id=user.id) }}" method="POST" onsubmit="return confirm('本当にこのユーザーを削除しますか？この操作は元に戻せません。');">
            <button type="submit" class="btn btn-danger btn-sm">削除</button>
          </form>
        </td>
        
      </tr>
      {% endfor %}
    </tbody>
  </table>
  
  <h2>最近の記録</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ユーザー名</th>
        <th>時間</th>
        <th>行動</th>
        <th>状態</th>
        <th>メモ</th>
      </tr>
    </thead>
    <tbody>
      {% for record in records %}
      <tr>
        <td>{{ record.username }} {% if record.is_private %}<span class="badge badge-warning">プライベート</span>{% endif %}</td>
        <td>{{ record.formatted_time }}</td>
        <td>{% if record.action == 'wake_up' %} 起床 {% elif record.action == 'sleep' %} 就寝 {% else %} {{ record.action }} {% endif %}</td>
        <td>{% if record.is_deleted %} 削除済み {% else %} 現存 {% endif %}</td>
        <td>{{ record.memo if record.memo else '---' }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  
  <!-- ページネーション -->
  <nav aria-label="ページネーション">
    <ul class="pagination">
      {% for i in range(1, total_pages + 1) %}
      <li class="page-item {% if i == page %}active{% endif %}">
        <a class="page-link" href="{{ url_for('admin_dashboard', page=i) }}">{{ i }}</a>
      </li>
      {% endfor %}
    </ul>
  </nav>
</div>
{% endblock %}
